*{
    padding: 0;
    margin: 0;
}

.container h1{
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
}
.column{
    width: 50%;
    margin: 2px;
    border: 1px solid gray;
    border-radius: 3px;
    min-height: 200px;
    font-size: 2em;
}